body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #244ba6;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 900;
}

p {
  font-size: 17px;
  text-align: left;
  font-family: 'Lato';
  font-weight: 500;
}
.responsiveHero img {
  width: "120%";
}

.image-wrap {
  width: 100%;
  height: 50vw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrap img {
  width: 100%;
  animation: move 5s ease;
  -ms-animation: move 5s ease;
  -webkit-animation: move 5s ease;
  -moz-animation: move 5s ease;
  position: absolute;
  animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    /* -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left; */
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */

    -webkit-transform: scale(1);
    /* Safari and Chrome */

    -o-transform: scale(1);
    /* Opera */

    -moz-transform: scale(1);
    /* Firefox */
  }
  100% {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    /* IE 9 */

    -webkit-transform: scale(0.9);
    /* Safari and Chrome */

    -o-transform: scale(0.9);
    /* Opera */

    -moz-transform: scale(0.9);
    /* Firefox */
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.lineUp {
  animation: 3s anim-lineUp ease infinite;
  animation-fill-mode: backward;
  position: absolute;
  bottom: 30%;
  left: 150px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.control-dots {
  display: flex;
  justify-content: center;
}

.mobileLists li {
  text-indent: -23px;
  margin-top: 3px;
}

.shadow{
  filter: drop-shadow(1px 1px 2px black)
}
.noShadow{
  filter: drop-shadow(0px 0px 0px #244ba6)
}
